.dialog {
  display: flex;
}

.active {
  color: rgb(255, 123, 0);
}

.img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.item {
  color: #747c84;
  text-decoration: none;
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.text {
  margin-left: 10px;
}
