.nav {
  grid-area: n;
  background-color: #edf2f6;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 50px;
}

.item {
  color: #747c84;
  text-decoration: none;
}

.active {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}

.article {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 7px;
}

