.dialogs {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.dialogsItems {
  padding: 10px;
}

.formDialogs {
  margin-top: 30px;
}

.dialogsItems .active {
  color: rgb(255, 123, 0);
}

.messages {
  padding: 10px;
}
